DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=saico_beta
APP_URL=http://127.0.0.1:8000

FACEBOOK_PAGE_TOKEN=
FACEBOOK_PAGE_ID=

INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_IG_USER_ID=

LINKEDIN_ACCESS_TOKEN=
LINKEDIN_ORG_ID=
LINKEDIN_PERSON_URN=

PYTHON_ENV=development
